@model Blog.Web.Infrastructure.Core.PaginationSet<Blog.Web.Models.PostViewModel>
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inContent clearfix">
    <!-- Tin Esports-->
    <div class="blockrows">
        <!-- content left-->
        <div class="primary">
            <h3 class="widget-title black">
                <a href="javascript:;">
                    <span>Hình ảnh</span>
                </a>
                <p class="linktabs">
                    @foreach (var child in (IEnumerable<Blog.Web.Models.PostCategoryViewModel>)ViewBag.ChildCategory)
                    {
                        <a href="/@(child.Alias).pc-@(child.ID).html">@child.Name</a>
                    }
                </p>

            </h3>
            <div class="featured_posts clearfix" id="newsEsports">
                <div class="lastest-post">
                    <div class="featured_posts clearfix" id="videos">
                        <ul class="postvideo">
                            @foreach (var post in Model.Items)
                            {
                                <li style="">
                                    <div class="post-vd">
                                        <a class="bx-img" href="/@(post.Alias).p-@(post.ID).html">
                                            <img width="300" height="200" src="@post.Image" class="alignleft featured_image wp-post-image" alt="@post.Name" />
                                        </a>
                                        <a class="act" href="/@(post.Alias).p-@(post.ID).html">@post.Name</a>
                                    </div>
                                </li>
                            }
                        </ul>
                        <script>
                            $(window).load(function () {
                                var a, b, c = false;
                                var i = 0;
                                var h = 0;
                                $(".postvideo li").each(function () {
                                    var obj = $(this);
                                    var hh = obj.height();
                                    if (h < hh) {
                                        h = hh;
                                    }

                                    i++;
                                    if (i % 3 === 0) {
                                        c = obj;
                                        if (a) {
                                            a.css('height', h + 'px');
                                        }
                                        if (b) {
                                            b.css('height', h + 'px');
                                        }
                                        if (c) {
                                            c.css('height', h + 'px');
                                        }
                                        i = 0;
                                        h = 0;
                                    } else if (i % 3 === 1) {
                                        a = obj;
                                    } else if (i % 3 === 2) {
                                        b = obj;
                                    }

                                });
                            });
                        </script>
                    </div>
                </div>
                <div class="loop-pagination">
                    @if (Model.TotalPages > 1)
                    {
                        // Create numeric links
                        var startPageIndex = Math.Max(1, Model.Page - Model.MaxPage / 2);
                        var endPageIndex = Math.Min(Model.TotalPages, Model.Page + Model.MaxPage / 2);

                        <nav>
                            <ul class="pagination" style="display:block;">
                                @if (Model.Page > 1)
                {
                                    <li>
                                        <a href="?page=1" aria-label="First">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?page=@(Model.Page-1)" aria-label="Previous">
                                            <i class="fa fa-angle-left"></i>
                                        </a>
                                    </li>
                                }

                                @for (int i = startPageIndex; i <= endPageIndex; i++)
                                {
                                    if (Model.Page == i)
                                    {
                                        <li class="active"><a href="?page=@i" title="Trang @i">@i</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="?page=@i" title="Trang @i">@i</a></li>
                                    }
                                }
                                @if (Model.Page < Model.TotalPages)
                {
                                    <li>
                                        <a href="?page=@(Model.Page+1)" aria-label="Next">
                                            <i class="fa fa-angle-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="?page=@Model.TotalPages" aria-label="Last">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </nav>
                    }
                </div>



                <style type="text/css">
                    .pagination .loop-pagination span.disable {
                        background-color: #ccc;
                        border: 1px solid #ccc;
                    }

                    .pagination .loop-pagination a, .pagination .loop-pagination span {
                        padding: 2px 10px;
                        border: 1px solid #333;
                        color: #fff;
                        margin: 0 3px;
                        display: inline-block;
                        background-color: #333;
                    }

                        .pagination .loop-pagination a:hover, .pagination .loop-pagination a.active, .pagination .loop-pagination span.current {
                            background-color: #df0000;
                            color: #fff;
                            border-color: #df0000;
                        }
                </style>
            </div>
        </div>
        <div class="secondary">
            <div id="recent-posts-hot-3" class="right-column recent-posts-hot-class">
                <div class="inner">
                    <div class="featured_posts clearfix" id="weekly-news">
                        <h3 class="widget-title pink"><a href="javascript:;"><span>Tin nổi bật</span></a></h3>
                        <div class="vertical_posts ">
                            @{ Html.RenderAction("NewsHot", "Post");}
                        </div>
                    </div>
                </div>
            </div>
            @{ Html.RenderAction("Banner", "Post");}
        </div>
    </div>
</div>
