@model Blog.Web.Models.HomeNewsGamesViewModel
<div class="primary">
    <div class="featured_posts clearfix" id="newsGames">
        <h3 class="widget-title orange">
            <a href="/tin-game.html"><span>Tin Game</span></a>
            <p class="linktabs">
                @foreach (var child in Model.ChildCategory)
                {
                    <a href="/@(child.Alias).pc-@(child.ID).html">@child.Name</a>
                }
            </p>
        </h3>
        <div class="first-post tg-one">
            <div class="single-article">
                @foreach (var post in Model.NewsGame.Take(1))
            {
                    <figure>
                        <a class="bx-img" href="/@(post.Alias).p-@(post.ID).html" title="@post.Name" rel="bookmark">
                            <img width="600" height="338" src="@post.Image" class="attachment-large size-large wp-post-image" alt="@post.Name" 0="45" 1="45" 2="1" srcset="@post.Image 300w, @post.Image 600w" sizes="(max-width: 600px) 100vw, 600px" />
                        </a>
                    </figure>
                    <div class="article-content">
                        <h3 class="entry-title"><a href="/@(post.Alias).p-@(post.ID).html">@post.Name</a> </h3>
                        <p>@post.Description</p>
                    </div>
                }
            </div>
            <ul class="listsubnews">
                @foreach (var post in Model.NewsGame.Skip(2).Take(2))
                {
                    <li>
                        <a href="/@(post.Alias).p-@(post.ID).html">@post.Name</a>
                    </li>
                }
            </ul>
        </div>
        <div class="first-post  tg-two">
            <div class="single-article">
                @foreach (var post in Model.NewsGame.Skip(1).Take(1))
            {
                    <figure>
                        <a class="bx-img" href="/@(post.Alias).p-@(post.ID).html" title="@post.Name" rel="bookmark">
                            <img width="600" height="338" src="@post.Image" class="attachment-large size-large wp-post-image" alt="@post.Name" 0="45" 1="45" 2="1" srcset="@post.Image 300w, @post.Image 600w" sizes="(max-width: 600px) 100vw, 600px" />
                        </a>
                    </figure>
                    <div class="article-content">
                        <h3 class="entry-title"><a href="/@(post.Alias).p-@(post.ID).html">@post.Name</a> </h3>
                        <p>@post.Description</p>
                    </div>
                }
            </div>
            <ul class="listsubnews">
                @foreach (var post in Model.NewsGame.Skip(4).Take(2))
                {
                    <li>
                        <a href="/@(post.Alias).p-@(post.ID).html">@post.Name</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <style>
        .featured_posts .listsubnews {
            padding-left: 18px;
        }
    </style>
    <script type="text/javascript">
        $(window).load(function () {
            var blockLeft = $("#newsGames .tg-one .single-article").height();
            var blockRight = $("#newsGames .tg-two .single-article").height();

            var max = blockRight;
            if (blockLeft > blockRight) {
                max = blockLeft;
            }
            $("#newsGames .tg-one .single-article").css('height', max);
            $("#newsGames .tg-two .single-article").css('height', max);
        });
    </script>
</div>
<div class="secondary">
    <div id="recent-posts-hot-2" class="widget recent-posts-hot-class">
        <div class="inner">
            <div class="featured_posts clearfix" id="weekly-news">
                <h3 class="widget-title pink"><a href="javascript:;"><span>Tin Hot Trong Tuần</span></a></h3>
                <div class="vertical_posts ">
                    @foreach (var post in Model.NewsHot)
                    {
                        <div class="single-article clearfix">
                            <figure>
                                <a href="/@(post.Alias).p-@(post.ID).html" title="@post.Name" rel="bookmark">
                                    <img width="300" height="200" src="@post.Image" class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt="@post.Name" />
                                </a>
                            </figure>
                            <div class="article-content">
                                <h3 class="entry-title"> <a href="/@(post.Alias).p-@(post.ID).html">@post.Name</a> </h3>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
